version: "3.7"

services:

  app_proxy:
    environment:
      APP_HOST: motioneye_server_1
      APP_PORT: 8765

  server:
    image: ccrisan/motioneye:master-amd64
    user: "1000:1000"
    init: true
    restart: unless-stopped
    ports:
      - "8765:8765"
    environment:
      - PUID=1000
      - PGID=1000
